.navbar {
    font-size: 25pt;
    background-color: #000000;
    border-color: transparent;
    margin-bottom: 0px;
    height: 13vh;
}

.navbar-default .navbar-brand {
    font-size: 30pt;
    color: white;
    padding-top: 5vh;
}

.nav.navbar-nav.navbar-right li a {
    padding-top: 5.5vh;
    color: white;
}

.navbar-default .navbar-brand img{
    height: 18vh;
    padding-top: 0;
    margin-top: -7vh;
}

#signup-form {
    margin-top: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.title {
    margin-left: 10vw;
}


.error-message {
    margin-left: 10vw;
}

#accept-div {
    margin-top: 30vh;
    text-align: center;
    position: relative;
}

#reject-div {
    margin-top: 30vh;
    text-align: center;
    position: relative;
}

#accept {
    height: 20vh;
    width: 20vw;
}

#reject {
    height: 20vh;
    width: 20vw;
}

#swipe-pic {
    text-align: center;
}

/*.body-wrapper {*/
    /*padding-left: 10vw;*/
    /*padding-right: 10vw;*/
/*}*/