.navbar {
    font-size: 25pt;
    background-color: #000000;
    border-color: transparent;
    margin-bottom: 0px;
    height: 13vh;
}

.navbar-default .navbar-brand {
    font-size: 30pt;
    color: white;
    padding-top: 5vh;
}

.nav.navbar-nav.navbar-right li a {
    padding-top: 5.5vh;
    color: white;
}

.navbar-default .navbar-brand img{
    height: 18vh;
    padding-top: 0;
    margin-top: -7vh;
}

#signup-form {
    margin-top: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.title {
    margin-left: 10vw;
}


.error-message {
    margin-left: 10vw;
}

#accept-div {
    text-align: right;
    position: relative;
    padding-left: 0;
}

#reject-div {
    text-align: left;
    position: relative;
    padding-left: 0;
}

#accept {
    height: 87vh;
    width: 25vw;
    font-family: roboto;
    font-size: 50pt;
}

#reject {
    height: 87vh;
    width: 25vw;
    font-family: roboto;
    font-size: 50pt;
}

#swipe-pic {
    text-align: center;
    font-family: roboto;
    padding-left: 0;
}

#main-pic {
    max-height: 60vh;
    max-width: 50vw;
    padding-left: 0;
}
#firstJum {
    margin: 0;
}

#thumb1 {
    margin: 0;
}

#thumb2 {
    margin: 0;

}

#puppy1 {
    height: 48vh;
    padding: 0;
    border: 0;
}

#cat1 {
    height: 48vh;
    padding: 0;
    border: 0;
}
